In [34]:
import pandas as pd
innerjoin = pd.read_csv('/Users/nuthakki/Documents/GA work/Judy - RadAI/innerjoin(FINAL TABLE TO USE).csv')
innerjoin

,Unnamed: 0,Unnamed: 0_x,stats_id,user_id,total,human_accuracy,machine_accuracy,timestamp_x,Unnamed: 0_y,profile_id,...,npi,doctor,radiologist,training,clinical_practice,clinical_specialty,institution_type,country,state,timestamp_y
0,0,0,1,20,5,54.5455,9.09091,1/23/18 20:01,3,4,...,1598745721,a,yes,staff,a,Breast,academic,US,MA,1/23/18 20:01
1,1,1,2,32,7,47.0588,33.33330,1/23/18 20:50,4,5,...,0,b,yes,r3,b,NaN,NaN,GB,AL,1/23/18 20:37
2,2,2,3,9,0,25.0000,25.00000,1/23/18 22:03,0,1,...,1174963557,a,yes,r4,a,Interventional_Radiology,academic,US,IN,1/23/18 15:45
3,3,3,4,45,2,46.1538,30.76920,1/24/18 0:18,5,6,...,0,b,yes,r1,NaN,NaN,academic,IN,AL,1/24/18 0:17
4,4,4,5,47,8,53.4884,34.88370,1/24/18 1:18,6,7,...,1225236326,a,yes,staff,b,Body_Abdomen,academic,US,AL,1/24/18 1:18
5,5,5,6,49,1,51.6129,48.38710,1/24/18 1:29,7,8,...,0,a,NaN,staff,a,NaN,academic,US,AL,1/24/18 1:29
6,6,6,7,58,-1,0.0000,100.00000,1/24/18 7:43,8,9,...,0,a,yes,r1,a,Head_NeckNuclear_Medicine,academic,US,AL,1/24/18 7:43
7,7,7,8,59,0,20.0000,20.00000,1/24/18 10:10,9,10,...,0,c,no,r3,b,ER_General,academic,US,AL,1/24/18 10:10
8,8,8,9,62,4,60.7843,52.94120,1/24/18 12:19,10,11,...,0,a,yes,staff,b,Body_Abdomen,academic,JP,NY,1/24/18 12:19
9,9,9,10,65,0,54.1667,54.16670,1/24/18 17:09,12,13,...,0,a,yes,staff,b,Pediatrics,private,US,GA,1/24/18 17:01
10,10,10,11,11,7,73.6842,36.84210,1/24/18 19:33,2,3,...,0,d,NaN,NaN,NaN,NaN,NaN,US,TX,1/23/18 18:10
11,11,11,12,75,0,55.2632,55.26320,1/24/18 23:36,13,14,...,0,d,NaN,NaN,NaN,NaN,NaN,US,AL,1/24/18 23:36
12,12,12,13,76,3,60.0000,40.00000,1/25/18 0:50,15,16,...,0,d,NaN,NaN,NaN,NaN,NaN,US,AL,1/25/18 0:50
13,13,13,14,64,-7,29.6296,55.55560,1/25/18 2:34,14,15,...,1376954446,a,yes,r3,a,NaN,academic,US,AL,1/25/18 0:32
14,14,14,15,84,0,100.0000,100.00000,1/25/18 2:41,16,17,...,1936829,b,no,r3,a,ER_General,NaN,AU,AL,1/25/18 2:38
15,15,15,16,91,3,25.0000,12.50000,1/25/18 17:30,17,18,...,0,a,yes,r0,a,NaN,NaN,FR,AL,1/25/18 17:30
16,16,16,17,92,0,55.5556,55.55560,1/25/18 18:37,18,19,...,0,d,NaN,NaN,NaN,NaN,NaN,US,IN,1/25/18 18:33
17,17,17,18,104,0,100.0000,100.00000,1/28/18 5:27,19,20,...,0,d,no,NaN,NaN,NaN,NaN,US,AL,1/28/18 5:27
18,18,18,19,66,0,100.0000,100.00000,1/28/18 16:12,11,12,...,0,d,NaN,NaN,NaN,NaN,NaN,IN,LA,1/24/18 13:54

In [35]:
#Pivoting doctor of machine_accuracy values
m = innerjoin.pivot(columns='doctor', values='machine_accuracy')
m1= pd.DataFrame(data=m)
m1.columns = ['a1', 'b1', 'c1', 'd1']
m1

           a1        b1    c1        d1
0     9.09091       NaN   NaN       NaN
1         NaN   33.3333   NaN       NaN
2    25.00000       NaN   NaN       NaN
3         NaN   30.7692   NaN       NaN
4    34.88370       NaN   NaN       NaN
5    48.38710       NaN   NaN       NaN
6   100.00000       NaN   NaN       NaN
7         NaN       NaN  20.0       NaN
8    52.94120       NaN   NaN       NaN
9    54.16670       NaN   NaN       NaN
10        NaN       NaN   NaN   36.8421
11        NaN       NaN   NaN   55.2632
12        NaN       NaN   NaN   40.0000
13   55.55560       NaN   NaN       NaN
14        NaN  100.0000   NaN       NaN
15   12.50000       NaN   NaN       NaN
16        NaN       NaN   NaN   55.5556
17        NaN       NaN   NaN  100.0000
18        NaN       NaN   NaN  100.0000

In [36]:
#Pivoting doctor of human_accuracy values
h = innerjoin.pivot(columns='doctor', values='human_accuracy')
h1= pd.DataFrame(data=h)
h1

doctor        a         b     c         d
0       54.5455       NaN   NaN       NaN
1           NaN   47.0588   NaN       NaN
2       25.0000       NaN   NaN       NaN
3           NaN   46.1538   NaN       NaN
4       53.4884       NaN   NaN       NaN
5       51.6129       NaN   NaN       NaN
6        0.0000       NaN   NaN       NaN
7           NaN       NaN  20.0       NaN
8       60.7843       NaN   NaN       NaN
9       54.1667       NaN   NaN       NaN
10          NaN       NaN   NaN   73.6842
11          NaN       NaN   NaN   55.2632
12          NaN       NaN   NaN   60.0000
13      29.6296       NaN   NaN       NaN
14          NaN  100.0000   NaN       NaN
15      25.0000       NaN   NaN       NaN
16          NaN       NaN   NaN   55.5556
17          NaN       NaN   NaN  100.0000
18          NaN       NaN   NaN  100.0000

In [37]:
#Concatenating both the pivot tables of doctor
dfs = [h, m]
test = pd.concat(dfs, axis=1)
test

          a         b     c         d         a1        b1    c1        d1
0   54.5455       NaN   NaN       NaN    9.09091       NaN   NaN       NaN
1       NaN   47.0588   NaN       NaN        NaN   33.3333   NaN       NaN
2   25.0000       NaN   NaN       NaN   25.00000       NaN   NaN       NaN
3       NaN   46.1538   NaN       NaN        NaN   30.7692   NaN       NaN
4   53.4884       NaN   NaN       NaN   34.88370       NaN   NaN       NaN
5   51.6129       NaN   NaN       NaN   48.38710       NaN   NaN       NaN
6    0.0000       NaN   NaN       NaN  100.00000       NaN   NaN       NaN
7       NaN       NaN  20.0       NaN        NaN       NaN  20.0       NaN
8   60.7843       NaN   NaN       NaN   52.94120       NaN   NaN       NaN
9   54.1667       NaN   NaN       NaN   54.16670       NaN   NaN       NaN
10      NaN       NaN   NaN   73.6842        NaN       NaN   NaN   36.8421
11      NaN       NaN   NaN   55.2632        NaN       NaN   NaN   55.2632
12      NaN       NaN   NaN   60.0000        NaN       NaN   NaN   40.0000
13  29.6296       NaN   NaN       NaN   55.55560       NaN   NaN       NaN
14      NaN  100.0000   NaN       NaN        NaN  100.0000   NaN       NaN
15  25.0000       NaN   NaN       NaN   12.50000       NaN   NaN       NaN
16      NaN       NaN   NaN   55.5556        NaN       NaN   NaN   55.5556
17      NaN       NaN   NaN  100.0000        NaN       NaN   NaN  100.0000
18      NaN       NaN   NaN  100.0000        NaN       NaN   NaN  100.0000

In [38]:
#Replacing Nan with zeroes
import numpy as np
test[np.isnan(test)] = 0
test

          a         b     c         d         a1        b1    c1        d1
0   54.5455    0.0000   0.0    0.0000    9.09091    0.0000   0.0    0.0000
1    0.0000   47.0588   0.0    0.0000    0.00000   33.3333   0.0    0.0000
2   25.0000    0.0000   0.0    0.0000   25.00000    0.0000   0.0    0.0000
3    0.0000   46.1538   0.0    0.0000    0.00000   30.7692   0.0    0.0000
4   53.4884    0.0000   0.0    0.0000   34.88370    0.0000   0.0    0.0000
5   51.6129    0.0000   0.0    0.0000   48.38710    0.0000   0.0    0.0000
6    0.0000    0.0000   0.0    0.0000  100.00000    0.0000   0.0    0.0000
7    0.0000    0.0000  20.0    0.0000    0.00000    0.0000  20.0    0.0000
8   60.7843    0.0000   0.0    0.0000   52.94120    0.0000   0.0    0.0000
9   54.1667    0.0000   0.0    0.0000   54.16670    0.0000   0.0    0.0000
10   0.0000    0.0000   0.0   73.6842    0.00000    0.0000   0.0   36.8421
11   0.0000    0.0000   0.0   55.2632    0.00000    0.0000   0.0   55.2632
12   0.0000    0.0000   0.0   60.0000    0.00000    0.0000   0.0   40.0000
13  29.6296    0.0000   0.0    0.0000   55.55560    0.0000   0.0    0.0000
14   0.0000  100.0000   0.0    0.0000    0.00000  100.0000   0.0    0.0000
15  25.0000    0.0000   0.0    0.0000   12.50000    0.0000   0.0    0.0000
16   0.0000    0.0000   0.0   55.5556    0.00000    0.0000   0.0   55.5556
17   0.0000    0.0000   0.0  100.0000    0.00000    0.0000   0.0  100.0000
18   0.0000    0.0000   0.0  100.0000    0.00000    0.0000   0.0  100.0000

In [39]:
#Two-way ANOVA between human_accuracy of doctors (a, b, c, d') with all categories (a, b, c, d') of doctors from machine_accuracy 
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF

import numpy as np
import pandas as pd
import scipy

import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
writer = pd.ExcelWriter('/Users/nuthakki/Desktop/anova_table_doctor.xlsx', engine='xlsxwriter')
no = 1
#pd.set_option('display.float_format', lambda x: '%.3f' % x)  #Suppress scientific notation

x = [test['a'], test['b'], test['c'], test['d']]

for i in x:
    formula = "i ~ C(a1) + C(b1) + C(c1) + C(d1)"
    model = ols(formula, data=test).fit()
    aov_table = statsmodels.stats.anova.anova_lm(model, typ=2)
    print(aov_table)
    aov_table.to_excel(writer, sheet_name='sheet1', startrow=int(no))
    no = no+8
    print(no)
writer.save()
#aov_table.to_csv('/Users/nuthakki/Desktop/anova_table1.csv')

                sum_sq   df             F        PR(>F)
C(a1)     1.121398e+04  9.0  1.958693e+29  1.753548e-15
C(b1)     1.256865e+03  3.0  6.585921e+28  2.864450e-15
C(c1)     3.685082e+02  1.0  5.792903e+28  2.645039e-15
C(d1)     2.747673e+03  5.0  8.638613e+28  2.583104e-15
Residual  6.361374e-27  1.0           NaN           NaN
9
                sum_sq   df             F        PR(>F)
C(a1)     1.903569e+03  9.0  4.277566e+28  3.752342e-15
C(b1)     1.253735e+04  3.0  8.451917e+29  7.995983e-16
C(c1)     1.096361e+02  1.0  2.217299e+28  4.275313e-15
C(d1)     8.174695e+02  5.0  3.306528e+28  4.175205e-15
Residual  4.944580e-27  1.0           NaN           NaN
17
                sum_sq   df             F        PR(>F)
C(a1)     2.039660e+01  9.0  3.262300e+28  4.296738e-15
C(b1)     4.006678e+00  3.0  1.922524e+28  5.301681e-15
C(c1)     3.806167e+02  1.0  5.478939e+30  2.719768e-16
C(d1)     8.759124e+00  5.0  2.521734e+28  4.780950e-15
Residual  6.946906e-29  1.0           NaN           NaN
25
                sum_sq   df             F        PR(>F)
C(a1)     6.051790e+03  9.0  5.992653e+28  3.170233e-15
C(b1)     1.188805e+03  3.0  3.531563e+28  3.911704e-15
C(c1)     3.485531e+02  1.0  3.106324e+28  3.612075e-15
C(d1)     2.579544e+04  5.0  4.597806e+29  1.119666e-15
Residual  1.122076e-26  1.0           NaN           NaN
33

In [40]:
# #Two-way ANOVA between human_accuracy of doctors (a, b, c, d') with all categories (a, b, c, d') of doctors from machine_accuracy 
# import plotly.plotly as py
# import plotly.graph_objs as go
# from plotly.tools import FigureFactory as FF

# import numpy as np
# import pandas as pd
# import scipy

# import statsmodels
# import statsmodels.api as sm
# from statsmodels.formula.api import ols
# import csv
# csv_output = csv.writer(open("/Users/nuthakki/Desktop/anova_table1.csv", "w"))
# #csv_output.writerow(["Col1","Col2","Col3","Col4", "Col5"])
# #pd.set_option('display.float_format', lambda x: '%.3f' % x)  #Suppress scientific notation

# x = [test['a'], test['b'], test['c'], test['d']]
# temp = []

# for i in x:
#     formula = "i ~ C(a1) + C(b1) + C(c1) + C(d1)"
#     model = ols(formula, data=test).fit()
#     aov_table = statsmodels.stats.anova.anova_lm(model, typ=2)
#     temp.append(str(aov_table))
#     print(aov_table)
# #csv_output.writerow(temp)

In [41]:
#Pivoting radiologist of machine_accuracy values
m = innerjoin.pivot(columns='radiologist', values='machine_accuracy')
m1= pd.DataFrame(data=m)
m1.columns = ['nan_mach_accu', 'no_mach_acc', 'yes_mach_accu']
print(m1)
#Pivoting radiologist of human_accuracy values
h = innerjoin.pivot(columns='radiologist', values='human_accuracy')
h1= pd.DataFrame(data=h)
h1.columns = ['nan_hum_accu', 'no_hum_accu', 'yes_hum_accu']
print(h1)
#Concatenating both the pivot tables of radiologist
dfs = [h1, m1]
test = pd.concat(dfs, axis=1)
print(test)
#Replacing Nan with zeroes
import numpy as np
test[np.isnan(test)] = 0
print(test)

    nan_mach_accu  no_mach_acc  yes_mach_accu
0             NaN          NaN        9.09091
1             NaN          NaN       33.33330
2             NaN          NaN       25.00000
3             NaN          NaN       30.76920
4             NaN          NaN       34.88370
5         48.3871          NaN            NaN
6             NaN          NaN      100.00000
7             NaN         20.0            NaN
8             NaN          NaN       52.94120
9             NaN          NaN       54.16670
10        36.8421          NaN            NaN
11        55.2632          NaN            NaN
12        40.0000          NaN            NaN
13            NaN          NaN       55.55560
14            NaN        100.0            NaN
15            NaN          NaN       12.50000
16        55.5556          NaN            NaN
17            NaN        100.0            NaN
18       100.0000          NaN            NaN
    nan_hum_accu  no_hum_accu  yes_hum_accu
0            NaN          NaN       54.5455
1            NaN          NaN       47.0588
2            NaN          NaN       25.0000
3            NaN          NaN       46.1538
4            NaN          NaN       53.4884
5        51.6129          NaN           NaN
6            NaN          NaN        0.0000
7            NaN         20.0           NaN
8            NaN          NaN       60.7843
9            NaN          NaN       54.1667
10       73.6842          NaN           NaN
11       55.2632          NaN           NaN
12       60.0000          NaN           NaN
13           NaN          NaN       29.6296
14           NaN        100.0           NaN
15           NaN          NaN       25.0000
16       55.5556          NaN           NaN
17           NaN        100.0           NaN
18      100.0000          NaN           NaN
    nan_hum_accu  no_hum_accu  yes_hum_accu  nan_mach_accu  no_mach_acc  \
0            NaN          NaN       54.5455            NaN          NaN
1            NaN          NaN       47.0588            NaN          NaN
2            NaN          NaN       25.0000            NaN          NaN
3            NaN          NaN       46.1538            NaN          NaN
4            NaN          NaN       53.4884            NaN          NaN
5        51.6129          NaN           NaN        48.3871          NaN
6            NaN          NaN        0.0000            NaN          NaN
7            NaN         20.0           NaN            NaN         20.0
8            NaN          NaN       60.7843            NaN          NaN
9            NaN          NaN       54.1667            NaN          NaN
10       73.6842          NaN           NaN        36.8421          NaN
11       55.2632          NaN           NaN        55.2632          NaN
12       60.0000          NaN           NaN        40.0000          NaN
13           NaN          NaN       29.6296            NaN          NaN
14           NaN        100.0           NaN            NaN        100.0
15           NaN          NaN       25.0000            NaN          NaN
16       55.5556          NaN           NaN        55.5556          NaN
17           NaN        100.0           NaN            NaN        100.0
18      100.0000          NaN           NaN       100.0000          NaN

    yes_mach_accu
0         9.09091
1        33.33330
2        25.00000
3        30.76920
4        34.88370
5             NaN
6       100.00000
7             NaN
8        52.94120
9        54.16670
10            NaN
11            NaN
12            NaN
13       55.55560
14            NaN
15       12.50000
16            NaN
17            NaN
18            NaN
    nan_hum_accu  no_hum_accu  yes_hum_accu  nan_mach_accu  no_mach_acc  \
0         0.0000          0.0       54.5455         0.0000          0.0
1         0.0000          0.0       47.0588         0.0000          0.0
2         0.0000          0.0       25.0000         0.0000          0.0
3         0.0000          0.0       46.1538         0.0000          0.0
4         0.0000          0.0       53.4884         0.0000          0.0
5        51.6129          0.0        0.0000        48.3871          0.0
6         0.0000          0.0        0.0000         0.0000          0.0
7         0.0000         20.0        0.0000         0.0000         20.0
8         0.0000          0.0       60.7843         0.0000          0.0
9         0.0000          0.0       54.1667         0.0000          0.0
10       73.6842          0.0        0.0000        36.8421          0.0
11       55.2632          0.0        0.0000        55.2632          0.0
12       60.0000          0.0        0.0000        40.0000          0.0
13        0.0000          0.0       29.6296         0.0000          0.0
14        0.0000        100.0        0.0000         0.0000        100.0
15        0.0000          0.0       25.0000         0.0000          0.0
16       55.5556          0.0        0.0000        55.5556          0.0
17        0.0000        100.0        0.0000         0.0000        100.0
18      100.0000          0.0        0.0000       100.0000          0.0

    yes_mach_accu
0         9.09091
1        33.33330
2        25.00000
3        30.76920
4        34.88370
5         0.00000
6       100.00000
7         0.00000
8        52.94120
9        54.16670
10        0.00000
11        0.00000
12        0.00000
13       55.55560
14        0.00000
15       12.50000
16        0.00000
17        0.00000
18        0.00000

In [42]:
#Two-way ANOVA between human_accuracy of radiologist with all categories of radiologist from machine_accuracy 
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF

import numpy as np
import pandas as pd
import scipy

import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
writer = pd.ExcelWriter('/Users/nuthakki/Desktop/anova_table_radiologist.xlsx', engine='xlsxwriter')
no = 1
#pd.set_option('display.float_format', lambda x: '%.3f' % x)  #Suppress scientific notation

x = [test['nan_hum_accu'], test['no_hum_accu'], test['yes_hum_accu']]

for i in x:
    formula = "i ~ C(nan_mach_accu) + C(no_mach_acc) + C(yes_mach_accu)"
    model = ols(formula, data=test).fit()
    aov_table = statsmodels.stats.anova.anova_lm(model, typ=2)
    print(aov_table)
    aov_table.to_excel(writer, sheet_name='sheet1', startrow=int(no))
    no = no+7
    print(no)
writer.save()
    #aov_table.to_csv('/Users/nuthakki/Desktop/anova_table1.csv')

                        sum_sq    df             F        PR(>F)
C(nan_mach_accu)  2.025202e+04   6.0  4.524902e+29  1.137944e-15
C(no_mach_acc)    1.396805e+03   2.0  9.362633e+28  2.310926e-15
C(yes_mach_accu)  1.005819e+04  10.0  1.348379e+29  2.119310e-15
Residual          7.459469e-27   1.0           NaN           NaN
8
                        sum_sq    df             F        PR(>F)
C(nan_mach_accu)  3.630252e+02   6.0  4.781683e+28  3.500542e-15
C(no_mach_acc)    1.810208e+04   2.0  7.153089e+30  2.643858e-16
C(yes_mach_accu)  9.230769e+02  10.0  7.295131e+28  2.881271e-15
Residual          1.265333e-27   1.0           NaN           NaN
15
                        sum_sq    df             F        PR(>F)
C(nan_mach_accu)  3.949893e+03   6.0  1.511801e+29  1.968695e-15
C(no_mach_acc)    1.394769e+03   2.0  1.601522e+29  1.766927e-15
C(yes_mach_accu)  1.140495e+04  10.0  2.619111e+29  1.520630e-15
Residual          4.354512e-27   1.0           NaN           NaN
22

In [43]:
#Pivoting training of machine_accuracy values
m = innerjoin.pivot(columns='training', values='machine_accuracy')
m1= pd.DataFrame(data=m)
m1.columns = ['nan_mach_acc', 'r0_mach_acc', 'r1_mach_acc', 'r3_mach_acc', 'r4_mach_acc', 'staff_mach_acc']
print(m1)
#Pivoting training of human_accuracy values
h = innerjoin.pivot(columns='training', values='human_accuracy')
h1= pd.DataFrame(data=h)
h1.columns = ['nan_hum_acc', 'r0_hum_acc', 'r1_hum_acc', 'r3_hum_acc', 'r4_hum_acc', 'staff_hum_acc']
print(h1)
#Concatenating both the pivot tables of training
dfs = [h1, m1]
test = pd.concat(dfs, axis=1)
print(test)
#Replacing Nan with zeroes
import numpy as np
test[np.isnan(test)] = 0
print(test)

    nan_mach_acc  r0_mach_acc  r1_mach_acc  r3_mach_acc  r4_mach_acc  \
0            NaN          NaN          NaN          NaN          NaN
1            NaN          NaN          NaN      33.3333          NaN
2            NaN          NaN          NaN          NaN         25.0
3            NaN          NaN      30.7692          NaN          NaN
4            NaN          NaN          NaN          NaN          NaN
5            NaN          NaN          NaN          NaN          NaN
6            NaN          NaN     100.0000          NaN          NaN
7            NaN          NaN          NaN      20.0000          NaN
8            NaN          NaN          NaN          NaN          NaN
9            NaN          NaN          NaN          NaN          NaN
10       36.8421          NaN          NaN          NaN          NaN
11       55.2632          NaN          NaN          NaN          NaN
12       40.0000          NaN          NaN          NaN          NaN
13           NaN          NaN          NaN      55.5556          NaN
14           NaN          NaN          NaN     100.0000          NaN
15           NaN         12.5          NaN          NaN          NaN
16       55.5556          NaN          NaN          NaN          NaN
17      100.0000          NaN          NaN          NaN          NaN
18      100.0000          NaN          NaN          NaN          NaN

    staff_mach_acc
0          9.09091
1              NaN
2              NaN
3              NaN
4         34.88370
5         48.38710
6              NaN
7              NaN
8         52.94120
9         54.16670
10             NaN
11             NaN
12             NaN
13             NaN
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
    nan_hum_acc  r0_hum_acc  r1_hum_acc  r3_hum_acc  r4_hum_acc  staff_hum_acc
0           NaN         NaN         NaN         NaN         NaN        54.5455
1           NaN         NaN         NaN     47.0588         NaN            NaN
2           NaN         NaN         NaN         NaN        25.0            NaN
3           NaN         NaN     46.1538         NaN         NaN            NaN
4           NaN         NaN         NaN         NaN         NaN        53.4884
5           NaN         NaN         NaN         NaN         NaN        51.6129
6           NaN         NaN      0.0000         NaN         NaN            NaN
7           NaN         NaN         NaN     20.0000         NaN            NaN
8           NaN         NaN         NaN         NaN         NaN        60.7843
9           NaN         NaN         NaN         NaN         NaN        54.1667
10      73.6842         NaN         NaN         NaN         NaN            NaN
11      55.2632         NaN         NaN         NaN         NaN            NaN
12      60.0000         NaN         NaN         NaN         NaN            NaN
13          NaN         NaN         NaN     29.6296         NaN            NaN
14          NaN         NaN         NaN    100.0000         NaN            NaN
15          NaN        25.0         NaN         NaN         NaN            NaN
16      55.5556         NaN         NaN         NaN         NaN            NaN
17     100.0000         NaN         NaN         NaN         NaN            NaN
18     100.0000         NaN         NaN         NaN         NaN            NaN
    nan_hum_acc  r0_hum_acc  r1_hum_acc  r3_hum_acc  r4_hum_acc  \
0           NaN         NaN         NaN         NaN         NaN
1           NaN         NaN         NaN     47.0588         NaN
2           NaN         NaN         NaN         NaN        25.0
3           NaN         NaN     46.1538         NaN         NaN
4           NaN         NaN         NaN         NaN         NaN
5           NaN         NaN         NaN         NaN         NaN
6           NaN         NaN      0.0000         NaN         NaN
7           NaN         NaN         NaN     20.0000         NaN
8           NaN         NaN         NaN         NaN         NaN
9           NaN         NaN         NaN         NaN         NaN
10      73.6842         NaN         NaN         NaN         NaN
11      55.2632         NaN         NaN         NaN         NaN
12      60.0000         NaN         NaN         NaN         NaN
13          NaN         NaN         NaN     29.6296         NaN
14          NaN         NaN         NaN    100.0000         NaN
15          NaN        25.0         NaN         NaN         NaN
16      55.5556         NaN         NaN         NaN         NaN
17     100.0000         NaN         NaN         NaN         NaN
18     100.0000         NaN         NaN         NaN         NaN

    staff_hum_acc  nan_mach_acc  r0_mach_acc  r1_mach_acc  r3_mach_acc  \
0         54.5455           NaN          NaN          NaN          NaN
1             NaN           NaN          NaN          NaN      33.3333
2             NaN           NaN          NaN          NaN          NaN
3             NaN           NaN          NaN      30.7692          NaN
4         53.4884           NaN          NaN          NaN          NaN
5         51.6129           NaN          NaN          NaN          NaN
6             NaN           NaN          NaN     100.0000          NaN
7             NaN           NaN          NaN          NaN      20.0000
8         60.7843           NaN          NaN          NaN          NaN
9         54.1667           NaN          NaN          NaN          NaN
10            NaN       36.8421          NaN          NaN          NaN
11            NaN       55.2632          NaN          NaN          NaN
12            NaN       40.0000          NaN          NaN          NaN
13            NaN           NaN          NaN          NaN      55.5556
14            NaN           NaN          NaN          NaN     100.0000
15            NaN           NaN         12.5          NaN          NaN
16            NaN       55.5556          NaN          NaN          NaN
17            NaN      100.0000          NaN          NaN          NaN
18            NaN      100.0000          NaN          NaN          NaN

    r4_mach_acc  staff_mach_acc
0           NaN         9.09091
1           NaN             NaN
2          25.0             NaN
3           NaN             NaN
4           NaN        34.88370
5           NaN        48.38710
6           NaN             NaN
7           NaN             NaN
8           NaN        52.94120
9           NaN        54.16670
10          NaN             NaN
11          NaN             NaN
12          NaN             NaN
13          NaN             NaN
14          NaN             NaN
15          NaN             NaN
16          NaN             NaN
17          NaN             NaN
18          NaN             NaN
    nan_hum_acc  r0_hum_acc  r1_hum_acc  r3_hum_acc  r4_hum_acc  \
0        0.0000         0.0      0.0000      0.0000         0.0
1        0.0000         0.0      0.0000     47.0588         0.0
2        0.0000         0.0      0.0000      0.0000        25.0
3        0.0000         0.0     46.1538      0.0000         0.0
4        0.0000         0.0      0.0000      0.0000         0.0
5        0.0000         0.0      0.0000      0.0000         0.0
6        0.0000         0.0      0.0000      0.0000         0.0
7        0.0000         0.0      0.0000     20.0000         0.0
8        0.0000         0.0      0.0000      0.0000         0.0
9        0.0000         0.0      0.0000      0.0000         0.0
10      73.6842         0.0      0.0000      0.0000         0.0
11      55.2632         0.0      0.0000      0.0000         0.0
12      60.0000         0.0      0.0000      0.0000         0.0
13       0.0000         0.0      0.0000     29.6296         0.0
14       0.0000         0.0      0.0000    100.0000         0.0
15       0.0000        25.0      0.0000      0.0000         0.0
16      55.5556         0.0      0.0000      0.0000         0.0
17     100.0000         0.0      0.0000      0.0000         0.0
18     100.0000         0.0      0.0000      0.0000         0.0

    staff_hum_acc  nan_mach_acc  r0_mach_acc  r1_mach_acc  r3_mach_acc  \
0         54.5455        0.0000          0.0       0.0000       0.0000
1          0.0000        0.0000          0.0       0.0000      33.3333
2          0.0000        0.0000          0.0       0.0000       0.0000
3          0.0000        0.0000          0.0      30.7692       0.0000
4         53.4884        0.0000          0.0       0.0000       0.0000
5         51.6129        0.0000          0.0       0.0000       0.0000
6          0.0000        0.0000          0.0     100.0000       0.0000
7          0.0000        0.0000          0.0       0.0000      20.0000
8         60.7843        0.0000          0.0       0.0000       0.0000
9         54.1667        0.0000          0.0       0.0000       0.0000
10         0.0000       36.8421          0.0       0.0000       0.0000
11         0.0000       55.2632          0.0       0.0000       0.0000
12         0.0000       40.0000          0.0       0.0000       0.0000
13         0.0000        0.0000          0.0       0.0000      55.5556
14         0.0000        0.0000          0.0       0.0000     100.0000
15         0.0000        0.0000         12.5       0.0000       0.0000
16         0.0000       55.5556          0.0       0.0000       0.0000
17         0.0000      100.0000          0.0       0.0000       0.0000
18         0.0000      100.0000          0.0       0.0000       0.0000

    r4_mach_acc  staff_mach_acc
0           0.0         9.09091
1           0.0         0.00000
2          25.0         0.00000
3           0.0         0.00000
4           0.0        34.88370
5           0.0        48.38710
6           0.0         0.00000
7           0.0         0.00000
8           0.0        52.94120
9           0.0        54.16670
10          0.0         0.00000
11          0.0         0.00000
12          0.0         0.00000
13          0.0         0.00000
14          0.0         0.00000
15          0.0         0.00000
16          0.0         0.00000
17          0.0         0.00000
18          0.0         0.00000

In [44]:
#Two-way ANOVA between human_accuracy of training with all categories of training from machine_accuracy 
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF

import numpy as np
import pandas as pd
import scipy

import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
writer = pd.ExcelWriter('/Users/nuthakki/Desktop/anova_table_training.xlsx', engine='xlsxwriter')
no = 1
#pd.set_option('display.float_format', lambda x: '%.3f' % x)  #Suppress scientific notation

x = [test['nan_hum_acc'], test['r0_hum_acc'], test['r1_hum_acc'], test['r3_hum_acc'], test['r4_hum_acc'], test['staff_hum_acc']]

for i in x:
    formula = "i ~ C(nan_mach_acc) + C(r0_mach_acc) + C(r1_mach_acc) + C(r3_mach_acc) + C(r4_mach_acc) + C(staff_mach_acc)"
    model = ols(formula, data=test).fit()
    aov_table = statsmodels.stats.anova.anova_lm(model, typ=2)
    print(aov_table)
    aov_table.to_excel(writer, sheet_name='sheet1', startrow=int(no))
    no = no+10
    print(no)
writer.save()
    #aov_table.to_csv('/Users/nuthakki/Desktop/anova_table1.csv')

                         sum_sq   df             F        PR(>F)
C(nan_mach_acc)    2.579544e+04  5.0  1.034797e+30  7.463391e-16
C(r0_mach_acc)     3.485531e+02  1.0  6.991195e+28  2.407711e-15
C(r1_mach_acc)     7.417645e+02  2.0  7.439068e+28  2.592542e-15
C(r3_mach_acc)     1.701539e+03  4.0  8.532264e+28  2.567610e-15
C(r4_mach_acc)     3.485531e+02  1.0  6.991195e+28  2.407711e-15
C(staff_mach_acc)  2.295596e+03  5.0  9.208904e+28  2.501842e-15
Residual           4.985601e-27  1.0           NaN           NaN
11
                         sum_sq   df             F        PR(>F)
C(nan_mach_acc)    1.368613e+01  5.0  2.809592e+28  4.529416e-15
C(r0_mach_acc)     5.947137e+02  1.0  6.104365e+30  2.576676e-16
C(r1_mach_acc)     3.906250e+00  2.0  2.004761e+28  4.994059e-15
C(r3_mach_acc)     8.960573e+00  4.0  2.299368e+28  4.946033e-15
C(r4_mach_acc)     1.835536e+00  1.0  1.884063e+28  4.638017e-15
C(staff_mach_acc)  1.208897e+01  5.0  2.481716e+28  4.819343e-15
Residual           9.742432e-29  1.0           NaN           NaN
21
                         sum_sq   df             F        PR(>F)
C(nan_mach_acc)    4.664613e+01  5.0  1.198804e+28  6.934095e-15
C(r0_mach_acc)     6.256015e+00  1.0  8.038968e+27  7.100354e-15
C(r1_mach_acc)     2.026993e+03  2.0  1.302341e+30  6.196160e-16
C(r3_mach_acc)     3.054012e+01  4.0  9.810998e+27  7.571896e-15
C(r4_mach_acc)     6.256015e+00  1.0  8.038968e+27  7.100354e-15
C(staff_mach_acc)  4.120258e+01  5.0  1.058905e+28  7.377945e-15
Residual           7.782113e-28  1.0           NaN           NaN
31
                         sum_sq   df             F        PR(>F)
C(nan_mach_acc)    8.471458e+02  5.0  5.868224e+28  3.134083e-15
C(r0_mach_acc)     1.136162e+02  1.0  3.935128e+28  3.209229e-15
C(r1_mach_acc)     2.417895e+02  2.0  4.187222e+28  3.455588e-15
C(r3_mach_acc)     1.162052e+04  4.0  1.006200e+30  7.476858e-16
C(r4_mach_acc)     1.136162e+02  1.0  3.935128e+28  3.209229e-15
C(staff_mach_acc)  7.482848e+02  5.0  5.183408e+28  3.334695e-15
Residual           2.887231e-27  1.0           NaN           NaN
41
                         sum_sq   df             F        PR(>F)
C(nan_mach_acc)    1.368613e+01  5.0  1.621424e+28  5.962324e-15
C(r0_mach_acc)     1.835536e+00  1.0  1.087298e+28  6.105283e-15
C(r1_mach_acc)     3.906250e+00  2.0  1.156953e+28  6.573960e-15
C(r3_mach_acc)     8.960573e+00  4.0  1.326972e+28  6.510742e-15
C(r4_mach_acc)     5.947137e+02  1.0  3.522846e+30  3.391824e-16
C(staff_mach_acc)  1.208897e+01  5.0  1.432205e+28  6.343971e-15
Residual           1.688162e-28  1.0           NaN           NaN
51
                         sum_sq   df             F        PR(>F)
C(nan_mach_acc)    1.651181e+03  5.0  8.735898e+28  2.568680e-15
C(r0_mach_acc)     2.214507e+02  1.0  5.858140e+28  2.630270e-15
C(r1_mach_acc)     4.712747e+02  2.0  6.233427e+28  2.832185e-15
C(r3_mach_acc)     1.081060e+03  4.0  7.149450e+28  2.804949e-15
C(r4_mach_acc)     2.214507e+02  1.0  5.858140e+28  2.630270e-15
C(staff_mach_acc)  1.148265e+04  5.0  6.075120e+29  9.740616e-16
Residual           3.780221e-27  1.0           NaN           NaN
61

In [45]:
#Pivoting clinical_practice of machine_accuracy values
m = innerjoin.pivot(columns='clinical_practice', values='machine_accuracy')
m1= pd.DataFrame(data=m)
m1.columns = ['nan_mach_acc', 'a_mach_acc', 'b_mach_acc']
print(m1)
#Pivoting clinical_practice of human_accuracy values
h = innerjoin.pivot(columns='clinical_practice', values='human_accuracy')
h1= pd.DataFrame(data=h)
h1.columns = ['nan_hum_acc', 'a_hum_acc', 'b_hum_acc']
print(h1)
#Concatenating both the pivot tables of clinical_practice
dfs = [h1, m1]
test = pd.concat(dfs, axis=1)
print(test)
#Replacing Nan with zeroes
import numpy as np
test[np.isnan(test)] = 0
print(test)

    nan_mach_acc  a_mach_acc  b_mach_acc
0            NaN     9.09091         NaN
1            NaN         NaN     33.3333
2            NaN    25.00000         NaN
3        30.7692         NaN         NaN
4            NaN         NaN     34.8837
5            NaN    48.38710         NaN
6            NaN   100.00000         NaN
7            NaN         NaN     20.0000
8            NaN         NaN     52.9412
9            NaN         NaN     54.1667
10       36.8421         NaN         NaN
11       55.2632         NaN         NaN
12       40.0000         NaN         NaN
13           NaN    55.55560         NaN
14           NaN   100.00000         NaN
15           NaN    12.50000         NaN
16       55.5556         NaN         NaN
17      100.0000         NaN         NaN
18      100.0000         NaN         NaN
    nan_hum_acc  a_hum_acc  b_hum_acc
0           NaN    54.5455        NaN
1           NaN        NaN    47.0588
2           NaN    25.0000        NaN
3       46.1538        NaN        NaN
4           NaN        NaN    53.4884
5           NaN    51.6129        NaN
6           NaN     0.0000        NaN
7           NaN        NaN    20.0000
8           NaN        NaN    60.7843
9           NaN        NaN    54.1667
10      73.6842        NaN        NaN
11      55.2632        NaN        NaN
12      60.0000        NaN        NaN
13          NaN    29.6296        NaN
14          NaN   100.0000        NaN
15          NaN    25.0000        NaN
16      55.5556        NaN        NaN
17     100.0000        NaN        NaN
18     100.0000        NaN        NaN
    nan_hum_acc  a_hum_acc  b_hum_acc  nan_mach_acc  a_mach_acc  b_mach_acc
0           NaN    54.5455        NaN           NaN     9.09091         NaN
1           NaN        NaN    47.0588           NaN         NaN     33.3333
2           NaN    25.0000        NaN           NaN    25.00000         NaN
3       46.1538        NaN        NaN       30.7692         NaN         NaN
4           NaN        NaN    53.4884           NaN         NaN     34.8837
5           NaN    51.6129        NaN           NaN    48.38710         NaN
6           NaN     0.0000        NaN           NaN   100.00000         NaN
7           NaN        NaN    20.0000           NaN         NaN     20.0000
8           NaN        NaN    60.7843           NaN         NaN     52.9412
9           NaN        NaN    54.1667           NaN         NaN     54.1667
10      73.6842        NaN        NaN       36.8421         NaN         NaN
11      55.2632        NaN        NaN       55.2632         NaN         NaN
12      60.0000        NaN        NaN       40.0000         NaN         NaN
13          NaN    29.6296        NaN           NaN    55.55560         NaN
14          NaN   100.0000        NaN           NaN   100.00000         NaN
15          NaN    25.0000        NaN           NaN    12.50000         NaN
16      55.5556        NaN        NaN       55.5556         NaN         NaN
17     100.0000        NaN        NaN      100.0000         NaN         NaN
18     100.0000        NaN        NaN      100.0000         NaN         NaN
    nan_hum_acc  a_hum_acc  b_hum_acc  nan_mach_acc  a_mach_acc  b_mach_acc
0        0.0000    54.5455     0.0000        0.0000     9.09091      0.0000
1        0.0000     0.0000    47.0588        0.0000     0.00000     33.3333
2        0.0000    25.0000     0.0000        0.0000    25.00000      0.0000
3       46.1538     0.0000     0.0000       30.7692     0.00000      0.0000
4        0.0000     0.0000    53.4884        0.0000     0.00000     34.8837
5        0.0000    51.6129     0.0000        0.0000    48.38710      0.0000
6        0.0000     0.0000     0.0000        0.0000   100.00000      0.0000
7        0.0000     0.0000    20.0000        0.0000     0.00000     20.0000
8        0.0000     0.0000    60.7843        0.0000     0.00000     52.9412
9        0.0000     0.0000    54.1667        0.0000     0.00000     54.1667
10      73.6842     0.0000     0.0000       36.8421     0.00000      0.0000
11      55.2632     0.0000     0.0000       55.2632     0.00000      0.0000
12      60.0000     0.0000     0.0000       40.0000     0.00000      0.0000
13       0.0000    29.6296     0.0000        0.0000    55.55560      0.0000
14       0.0000   100.0000     0.0000        0.0000   100.00000      0.0000
15       0.0000    25.0000     0.0000        0.0000    12.50000      0.0000
16      55.5556     0.0000     0.0000       55.5556     0.00000      0.0000
17     100.0000     0.0000     0.0000      100.0000     0.00000      0.0000
18     100.0000     0.0000     0.0000      100.0000     0.00000      0.0000

In [46]:
#Two-way ANOVA between human_accuracy of clinical_practice with all categories of clinical_practice from machine_accuracy 
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF

import numpy as np
import pandas as pd
import scipy

import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
writer = pd.ExcelWriter('/Users/nuthakki/Desktop/anova_table_clinical_practice.xlsx', engine='xlsxwriter')
no = 1
#pd.set_option('display.float_format', lambda x: '%.3f' % x)  #Suppress scientific notation

x = [test['nan_hum_acc'], test['a_hum_acc'], test['b_hum_acc']]

for i in x:
    formula = "i ~ C(nan_mach_acc) + C(a_mach_acc) + C(b_mach_acc)"
    model = ols(formula, data=test).fit()
    aov_table = statsmodels.stats.anova.anova_lm(model, typ=2)
    print(aov_table)
    aov_table.to_excel(writer, sheet_name='sheet1', startrow=int(no))
    no = no+7
    print(no)
writer.save()
    #aov_table.to_csv('/Users/nuthakki/Desktop/anova_table1.csv')

                       sum_sq   df             F        PR(>F)
C(nan_mach_acc)  2.567785e+04  6.0  1.566135e+30  6.385147e-31
C(a_mach_acc)    4.911674e+03  6.0  2.995712e+29  3.338105e-30
C(b_mach_acc)    3.406534e+03  5.0  2.493242e+29  4.010842e-30
Residual         5.465228e-27  2.0           NaN           NaN
8
                      sum_sq   df         F    PR(>F)
C(nan_mach_acc)  1789.295938  6.0  0.119286  0.981695
C(a_mach_acc)    8824.095753  6.0  0.588273  0.739924
C(b_mach_acc)    1240.981717  5.0  0.099279  0.982369
Residual         5000.000000  2.0       NaN       NaN
15
                       sum_sq   df             F        PR(>F)
C(nan_mach_acc)  1.784900e+03  6.0  7.737074e+28  1.292478e-29
C(a_mach_acc)    1.784900e+03  6.0  7.737074e+28  1.292478e-29
C(b_mach_acc)    9.380849e+03  5.0  4.879622e+29  2.049339e-30
Residual         7.689816e-27  2.0           NaN           NaN
22

In [47]:
#Pivoting clinical_specialty of machine_accuracy values
m = innerjoin.pivot(columns='clinical_specialty', values='machine_accuracy')
m1= pd.DataFrame(data=m)
m1.columns = ['nan_mach_acc', 'Body_Abd_mach_acc', 'Breast_mach_acc', 'ER_Gen_mach_acc', 'Head_Neck_mach_acc', 'Interv_Radi_mach_acc', 'Pediat_mach_acc']
print(m1)
#Pivoting clinical_specialty of human_accuracy values
h = innerjoin.pivot(columns='clinical_specialty', values='human_accuracy')
h1= pd.DataFrame(data=h)
h1.columns = ['nan_hum_acc', 'Body_Abd_hum_acc', 'Breast_hum_acc', 'ER_Gen_hum_acc', 'Head_Neck_hum_acc', 'Interv_Radi_hum_acc', 'Pediat_hum_acc']
print(h1)
#Concatenating both the pivot tables of clinical_specialty
dfs = [h1, m1]
test = pd.concat(dfs, axis=1)
print(test)
#Replacing Nan with zeroes
import numpy as np
test[np.isnan(test)] = 0
print(test)

    nan_mach_acc  Body_Abd_mach_acc  Breast_mach_acc  ER_Gen_mach_acc  \
0            NaN                NaN          9.09091              NaN
1        33.3333                NaN              NaN              NaN
2            NaN                NaN              NaN              NaN
3        30.7692                NaN              NaN              NaN
4            NaN            34.8837              NaN              NaN
5        48.3871                NaN              NaN              NaN
6            NaN                NaN              NaN              NaN
7            NaN                NaN              NaN             20.0
8            NaN            52.9412              NaN              NaN
9            NaN                NaN              NaN              NaN
10       36.8421                NaN              NaN              NaN
11       55.2632                NaN              NaN              NaN
12       40.0000                NaN              NaN              NaN
13       55.5556                NaN              NaN              NaN
14           NaN                NaN              NaN            100.0
15       12.5000                NaN              NaN              NaN
16       55.5556                NaN              NaN              NaN
17      100.0000                NaN              NaN              NaN
18      100.0000                NaN              NaN              NaN

    Head_Neck_mach_acc  Interv_Radi_mach_acc  Pediat_mach_acc
0                  NaN                   NaN              NaN
1                  NaN                   NaN              NaN
2                  NaN                  25.0              NaN
3                  NaN                   NaN              NaN
4                  NaN                   NaN              NaN
5                  NaN                   NaN              NaN
6                100.0                   NaN              NaN
7                  NaN                   NaN              NaN
8                  NaN                   NaN              NaN
9                  NaN                   NaN          54.1667
10                 NaN                   NaN              NaN
11                 NaN                   NaN              NaN
12                 NaN                   NaN              NaN
13                 NaN                   NaN              NaN
14                 NaN                   NaN              NaN
15                 NaN                   NaN              NaN
16                 NaN                   NaN              NaN
17                 NaN                   NaN              NaN
18                 NaN                   NaN              NaN
    nan_hum_acc  Body_Abd_hum_acc  Breast_hum_acc  ER_Gen_hum_acc  \
0           NaN               NaN         54.5455             NaN
1       47.0588               NaN             NaN             NaN
2           NaN               NaN             NaN             NaN
3       46.1538               NaN             NaN             NaN
4           NaN           53.4884             NaN             NaN
5       51.6129               NaN             NaN             NaN
6           NaN               NaN             NaN             NaN
7           NaN               NaN             NaN            20.0
8           NaN           60.7843             NaN             NaN
9           NaN               NaN             NaN             NaN
10      73.6842               NaN             NaN             NaN
11      55.2632               NaN             NaN             NaN
12      60.0000               NaN             NaN             NaN
13      29.6296               NaN             NaN             NaN
14          NaN               NaN             NaN           100.0
15      25.0000               NaN             NaN             NaN
16      55.5556               NaN             NaN             NaN
17     100.0000               NaN             NaN             NaN
18     100.0000               NaN             NaN             NaN

    Head_Neck_hum_acc  Interv_Radi_hum_acc  Pediat_hum_acc
0                 NaN                  NaN             NaN
1                 NaN                  NaN             NaN
2                 NaN                 25.0             NaN
3                 NaN                  NaN             NaN
4                 NaN                  NaN             NaN
5                 NaN                  NaN             NaN
6                 0.0                  NaN             NaN
7                 NaN                  NaN             NaN
8                 NaN                  NaN             NaN
9                 NaN                  NaN         54.1667
10                NaN                  NaN             NaN
11                NaN                  NaN             NaN
12                NaN                  NaN             NaN
13                NaN                  NaN             NaN
14                NaN                  NaN             NaN
15                NaN                  NaN             NaN
16                NaN                  NaN             NaN
17                NaN                  NaN             NaN
18                NaN                  NaN             NaN
    nan_hum_acc  Body_Abd_hum_acc  Breast_hum_acc  ER_Gen_hum_acc  \
0           NaN               NaN         54.5455             NaN
1       47.0588               NaN             NaN             NaN
2           NaN               NaN             NaN             NaN
3       46.1538               NaN             NaN             NaN
4           NaN           53.4884             NaN             NaN
5       51.6129               NaN             NaN             NaN
6           NaN               NaN             NaN             NaN
7           NaN               NaN             NaN            20.0
8           NaN           60.7843             NaN             NaN
9           NaN               NaN             NaN             NaN
10      73.6842               NaN             NaN             NaN
11      55.2632               NaN             NaN             NaN
12      60.0000               NaN             NaN             NaN
13      29.6296               NaN             NaN             NaN
14          NaN               NaN             NaN           100.0
15      25.0000               NaN             NaN             NaN
16      55.5556               NaN             NaN             NaN
17     100.0000               NaN             NaN             NaN
18     100.0000               NaN             NaN             NaN

    Head_Neck_hum_acc  Interv_Radi_hum_acc  Pediat_hum_acc  nan_mach_acc  \
0                 NaN                  NaN             NaN           NaN
1                 NaN                  NaN             NaN       33.3333
2                 NaN                 25.0             NaN           NaN
3                 NaN                  NaN             NaN       30.7692
4                 NaN                  NaN             NaN           NaN
5                 NaN                  NaN             NaN       48.3871
6                 0.0                  NaN             NaN           NaN
7                 NaN                  NaN             NaN           NaN
8                 NaN                  NaN             NaN           NaN
9                 NaN                  NaN         54.1667           NaN
10                NaN                  NaN             NaN       36.8421
11                NaN                  NaN             NaN       55.2632
12                NaN                  NaN             NaN       40.0000
13                NaN                  NaN             NaN       55.5556
14                NaN                  NaN             NaN           NaN
15                NaN                  NaN             NaN       12.5000
16                NaN                  NaN             NaN       55.5556
17                NaN                  NaN             NaN      100.0000
18                NaN                  NaN             NaN      100.0000

    Body_Abd_mach_acc  Breast_mach_acc  ER_Gen_mach_acc  Head_Neck_mach_acc  \
0                 NaN          9.09091              NaN                 NaN
1                 NaN              NaN              NaN                 NaN
2                 NaN              NaN              NaN                 NaN
3                 NaN              NaN              NaN                 NaN
4             34.8837              NaN              NaN                 NaN
5                 NaN              NaN              NaN                 NaN
6                 NaN              NaN              NaN               100.0
7                 NaN              NaN             20.0                 NaN
8             52.9412              NaN              NaN                 NaN
9                 NaN              NaN              NaN                 NaN
10                NaN              NaN              NaN                 NaN
11                NaN              NaN              NaN                 NaN
12                NaN              NaN              NaN                 NaN
13                NaN              NaN              NaN                 NaN
14                NaN              NaN            100.0                 NaN
15                NaN              NaN              NaN                 NaN
16                NaN              NaN              NaN                 NaN
17                NaN              NaN              NaN                 NaN
18                NaN              NaN              NaN                 NaN

    Interv_Radi_mach_acc  Pediat_mach_acc
0                    NaN              NaN
1                    NaN              NaN
2                   25.0              NaN
3                    NaN              NaN
4                    NaN              NaN
5                    NaN              NaN
6                    NaN              NaN
7                    NaN              NaN
8                    NaN              NaN
9                    NaN          54.1667
10                   NaN              NaN
11                   NaN              NaN
12                   NaN              NaN
13                   NaN              NaN
14                   NaN              NaN
15                   NaN              NaN
16                   NaN              NaN
17                   NaN              NaN
18                   NaN              NaN
    nan_hum_acc  Body_Abd_hum_acc  Breast_hum_acc  ER_Gen_hum_acc  \
0        0.0000            0.0000         54.5455             0.0
1       47.0588            0.0000          0.0000             0.0
2        0.0000            0.0000          0.0000             0.0
3       46.1538            0.0000          0.0000             0.0
4        0.0000           53.4884          0.0000             0.0
5       51.6129            0.0000          0.0000             0.0
6        0.0000            0.0000          0.0000             0.0
7        0.0000            0.0000          0.0000            20.0
8        0.0000           60.7843          0.0000             0.0
9        0.0000            0.0000          0.0000             0.0
10      73.6842            0.0000          0.0000             0.0
11      55.2632            0.0000          0.0000             0.0
12      60.0000            0.0000          0.0000             0.0
13      29.6296            0.0000          0.0000             0.0
14       0.0000            0.0000          0.0000           100.0
15      25.0000            0.0000          0.0000             0.0
16      55.5556            0.0000          0.0000             0.0
17     100.0000            0.0000          0.0000             0.0
18     100.0000            0.0000          0.0000             0.0

    Head_Neck_hum_acc  Interv_Radi_hum_acc  Pediat_hum_acc  nan_mach_acc  \
0                 0.0                  0.0          0.0000        0.0000
1                 0.0                  0.0          0.0000       33.3333
2                 0.0                 25.0          0.0000        0.0000
3                 0.0                  0.0          0.0000       30.7692
4                 0.0                  0.0          0.0000        0.0000
5                 0.0                  0.0          0.0000       48.3871
6                 0.0                  0.0          0.0000        0.0000
7                 0.0                  0.0          0.0000        0.0000
8                 0.0                  0.0          0.0000        0.0000
9                 0.0                  0.0         54.1667        0.0000
10                0.0                  0.0          0.0000       36.8421
11                0.0                  0.0          0.0000       55.2632
12                0.0                  0.0          0.0000       40.0000
13                0.0                  0.0          0.0000       55.5556
14                0.0                  0.0          0.0000        0.0000
15                0.0                  0.0          0.0000       12.5000
16                0.0                  0.0          0.0000       55.5556
17                0.0                  0.0          0.0000      100.0000
18                0.0                  0.0          0.0000      100.0000

    Body_Abd_mach_acc  Breast_mach_acc  ER_Gen_mach_acc  Head_Neck_mach_acc  \
0              0.0000          9.09091              0.0                 0.0
1              0.0000          0.00000              0.0                 0.0
2              0.0000          0.00000              0.0                 0.0
3              0.0000          0.00000              0.0                 0.0
4             34.8837          0.00000              0.0                 0.0
5              0.0000          0.00000              0.0                 0.0
6              0.0000          0.00000              0.0               100.0
7              0.0000          0.00000             20.0                 0.0
8             52.9412          0.00000              0.0                 0.0
9              0.0000          0.00000              0.0                 0.0
10             0.0000          0.00000              0.0                 0.0
11             0.0000          0.00000              0.0                 0.0
12             0.0000          0.00000              0.0                 0.0
13             0.0000          0.00000              0.0                 0.0
14             0.0000          0.00000            100.0                 0.0
15             0.0000          0.00000              0.0                 0.0
16             0.0000          0.00000              0.0                 0.0
17             0.0000          0.00000              0.0                 0.0
18             0.0000          0.00000              0.0                 0.0

    Interv_Radi_mach_acc  Pediat_mach_acc
0                    0.0           0.0000
1                    0.0           0.0000
2                   25.0           0.0000
3                    0.0           0.0000
4                    0.0           0.0000
5                    0.0           0.0000
6                    0.0           0.0000
7                    0.0           0.0000
8                    0.0           0.0000
9                    0.0          54.1667
10                   0.0           0.0000
11                   0.0           0.0000
12                   0.0           0.0000
13                   0.0           0.0000
14                   0.0           0.0000
15                   0.0           0.0000
16                   0.0           0.0000
17                   0.0           0.0000
18                   0.0           0.0000

In [48]:
#Two-way ANOVA between human_accuracy of clinical_specialty with all categories of clinical_specialty from machine_accuracy 
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.tools import FigureFactory as FF

import numpy as np
import pandas as pd
import scipy

import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
writer = pd.ExcelWriter('/Users/nuthakki/Desktop/anova_table_clinical_specialty.xlsx', engine='xlsxwriter')
no = 1
#pd.set_option('display.float_format', lambda x: '%.3f' % x)  #Suppress scientific notation

x = [test['nan_hum_acc'], test['Body_Abd_hum_acc'], test['Breast_hum_acc'], test['ER_Gen_hum_acc'], test['Interv_Radi_hum_acc'], test['Pediat_hum_acc']] 
#No "test['Head_Neck_hum_acc']" because showing singular matrix error bcs of all zeroes in that column

for i in x:
    formula = "i ~ C(nan_mach_acc) + C(Body_Abd_mach_acc) + C(Breast_mach_acc) + C(ER_Gen_mach_acc) + C(Head_Neck_mach_acc) + C(Interv_Radi_mach_acc) + C(Pediat_mach_acc)"
    model = ols(formula, data=test).fit()
    aov_table = statsmodels.stats.anova.anova_lm(model, typ=2)
    print(aov_table)
    aov_table.to_excel(writer, sheet_name='sheet1', startrow=int(no))
    no = no+11
    print(no)
writer.save()
    #aov_table.to_csv('/Users/nuthakki/Desktop/anova_table1.csv')

                               sum_sq   df          F    PR(>F)
C(nan_mach_acc)          23715.318316  9.0  15.681060  0.061360
C(Body_Abd_mach_acc)      1770.192708  2.0   5.267196  0.159561
C(Breast_mach_acc)         826.866331  1.0   4.920670  0.156786
C(ER_Gen_mach_acc)        1770.192708  2.0   5.267196  0.159561
C(Head_Neck_mach_acc)      826.866331  1.0   4.920670  0.156786
C(Interv_Radi_mach_acc)    826.866331  1.0   4.920670  0.156786
C(Pediat_mach_acc)         826.866331  1.0   4.920670  0.156786
Residual                   336.078738  2.0        NaN       NaN
12
                               sum_sq   df             F        PR(>F)
C(nan_mach_acc)          8.499453e+02  9.0  9.124607e+28  1.095938e-29
C(Body_Abd_mach_acc)     5.912024e+03  2.0  2.856090e+30  3.501290e-31
C(Breast_mach_acc)       4.295477e+01  1.0  4.150277e+28  2.409477e-29
C(ER_Gen_mach_acc)       9.195951e+01  2.0  4.442550e+28  2.250959e-29
C(Head_Neck_mach_acc)    4.295477e+01  1.0  4.150277e+28  2.409477e-29
C(Interv_Radi_mach_acc)  4.295477e+01  1.0  4.150277e+28  2.409477e-29
C(Pediat_mach_acc)       4.295477e+01  1.0  4.150277e+28  2.409477e-29
Residual                 2.069971e-27  2.0           NaN           NaN
23
                               sum_sq   df             F        PR(>F)
C(nan_mach_acc)          1.936528e+02  9.0  1.743851e+28  5.734434e-29
C(Body_Abd_mach_acc)     2.095219e+01  2.0  8.490390e+27  1.177802e-28
C(Breast_mach_acc)       2.828408e+03  1.0  2.292293e+30  4.362443e-31
C(ER_Gen_mach_acc)       2.095219e+01  2.0  8.490390e+27  1.177802e-28
C(Head_Neck_mach_acc)    9.786880e+00  1.0  7.931811e+27  1.260746e-28
C(Interv_Radi_mach_acc)  9.786880e+00  1.0  7.931811e+27  1.260746e-28
C(Pediat_mach_acc)       9.786880e+00  1.0  7.931811e+27  1.260746e-28
Residual                 2.467754e-27  2.0           NaN           NaN
34
                               sum_sq   df             F        PR(>F)
C(nan_mach_acc)          9.372781e+02  9.0  3.668121e+28  2.726191e-29
C(Body_Abd_mach_acc)     1.014085e+02  2.0  1.785919e+28  5.599357e-29
C(Breast_mach_acc)       4.736842e+01  1.0  1.668425e+28  5.993678e-29
C(ER_Gen_mach_acc)       9.690141e+03  2.0  1.706545e+30  5.859792e-31
C(Head_Neck_mach_acc)    4.736842e+01  1.0  1.668425e+28  5.993678e-29
C(Interv_Radi_mach_acc)  4.736842e+01  1.0  1.668425e+28  5.993678e-29
C(Pediat_mach_acc)       4.736842e+01  1.0  1.668425e+28  5.993678e-29
Residual                 5.678221e-27  2.0           NaN           NaN
45
                               sum_sq   df             F        PR(>F)
C(nan_mach_acc)          4.068047e+01  9.0  5.252223e+28  1.903956e-29
C(Body_Abd_mach_acc)     4.401408e+00  2.0  2.557180e+28  3.910557e-29
C(Breast_mach_acc)       2.055921e+00  1.0  2.388945e+28  4.185948e-29
C(ER_Gen_mach_acc)       4.401408e+00  2.0  2.557180e+28  3.910557e-29
C(Head_Neck_mach_acc)    2.055921e+00  1.0  2.388945e+28  4.185948e-29
C(Interv_Radi_mach_acc)  5.941612e+02  1.0  6.904051e+30  1.448425e-31
C(Pediat_mach_acc)       2.055921e+00  1.0  2.388945e+28  4.185948e-29
Residual                 1.721196e-28  2.0           NaN           NaN
56
                               sum_sq   df             F        PR(>F)
C(nan_mach_acc)          1.909725e+02  9.0  4.007969e+28  2.495029e-29
C(Body_Abd_mach_acc)     2.066219e+01  2.0  1.951383e+28  5.124570e-29
C(Breast_mach_acc)       9.651419e+00  1.0  1.823003e+28  5.485455e-29
C(ER_Gen_mach_acc)       2.066219e+01  2.0  1.951383e+28  5.124570e-29
C(Head_Neck_mach_acc)    9.651419e+00  1.0  1.823003e+28  5.485455e-29
C(Interv_Radi_mach_acc)  9.651419e+00  1.0  1.823003e+28  5.485455e-29
C(Pediat_mach_acc)       2.789260e+03  1.0  5.268478e+30  1.898081e-31
Residual                 1.058849e-27  2.0           NaN           NaN
67